.mainVideo {
    display: block;
    object-fit: cover;
    object-position: top center;
    min-height: 100%;
    min-width: 100%;
    max-height: 600px;
}

@media (max-width: 420px) {
    .mainVideo {
        display: none;
    }
}