.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.mainHeading {
    font-family: Impact;
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
}

.mainPosition {
    font-family: 'Montserrat SemiBold';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.mainDescription {
    max-width: 390px;
    margin-top: 20px;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    color: lightgrey;
}

.mainPromo {
    margin: 20px 0 60px 0;
    font-family: 'Montserrat SemiBold';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.mainButtonsContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 80px;
}

@media (max-width: 420px) {
    .mainHeading {
        font-size: 42px;
    }
    .mainButtonsContainer {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .mainPromo {
        margin-bottom: 40px;
    }
}