.footerMain {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 150px;
}

.footerContainer {
    width: 300px;
}

.footerUlHeading {
    font-family: 'Montserrat Medium';
    font-weight: 500;
    margin-bottom: 10px;
}

.footerUl li {
    margin-bottom: 7px;
}

.footerUl li::before {
    content: '- ';
}

.footerUlEmoji li::before {
    content: '👉 ';
}

@media (max-width: 420px) {
    .footerMain {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}

@media (max-width: 1024px) and (min-width: 420px) {
    .footerMain {
        /* border: 1px solid red; */
        width: 780px;
        flex-wrap: wrap;
        column-gap: 80px;
        row-gap: 0px;
        justify-content: end;
    }
}