.footerMain {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 150px;
}

.footerContainer {
    width: 300px;
}

.footerUlHeading {
    font-family: 'Montserrat Medium';
    font-weight: 500;
    margin-bottom: 10px;
}

.footerUl li {
    margin-bottom: 7px;
}

.footerUl li::before {
    content: '- ';
}

.footerUlEmoji li::before {
    content: '👉 ';
}

@media (max-width: 420px) {
    .footerMain {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}